{% extends "core/base.html" %}

{% block title %}My Leads{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">My Leads</h1>
        {% if not leads %}
            <p class="py-4 px-2 font-semibold w-full">No Leads Yet!</p>
        {% else %}
            <div class="flex justify-between">
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Name</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Status</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Priority</p>
            </div>
            {% for lead in leads %}
                <a href="{% url 'lead_detail' lead.id %}">
                    <div class="flex justify-between">
                        <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.first_name }} {{ lead.last_name }}</p>
                        <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_status_display }}</p>
                        <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_priority_display }}</p>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        <a href="{% url 'add_lead' %}" class="mt-6 inline-block py-4 px-6 bg-teal-600 text-white rounded-xl">Add Lead</a>
    </div>
{% endblock %}